@import "tailwindcss";

@theme {
  --color-primary: #2badee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;
  --font-display: var(--font-lexend), sans-serif;
}

@layer base {
  body {
    @apply bg-gray-950 font-display;
  }
}
